<input
  type="text"
  placeholder="Search applications..."
  [(ngModel)]="searchTerm"
  class="search-box"
/>

<table class="styled-table">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Date Applied</th>
      <th>Role</th>
      <th>Resume Applied With</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let job of filteredJobs()"
      [class.highlight]="isHighlighted(job)"
      (click)="highlightRow(job.id)"
    >
      <td>{{ job.CompanyName }}</td>
      <td>{{ job.DateApplied }}</td>
      <td>{{ job.Role }}</td>
      <td>{{ job.ResumeAppliedWith }}</td>
    </tr>
  </tbody>
</table>
